
@{
    ViewData["Title"] = "Honest";
}

<div style="width:1903px;height:188px;background-color:antiquewhite">
    <span style="width:152px;height:95px;color:#333333;font-size:38px;padding:22px 0px;position:relative;left:875.5px;top:50.5px">要闻资讯</span>
</div>

<div style="width:1200px;height:6000.64px;margin:0 auto;" class="detail">
    <div style="width:744px;height:6000.42px;float:left;border:1px ridge ">
        <h2 style="width:702px;height:66px;font-size:24px;position:relative;left:30px;top:40px">共建廉洁共同体，打造合规生态圈——阳光诚信联盟 “2019企业廉洁”成功举行</h2>
        <div style="width:702px;height:47px;margin-left:150px;margin-top:40px" class="label">
            <span>阅读次数:1325</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>发布时间:2019-09-23</span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>发布者:超级管理员</span>
        </div>
        <hr />
        <img src="~/images/210305032328757391.jpg" style="width:702px;height:395.19px" />
        <p style="text-indent:32px"><span style="font-size:16px;font-family:宋体">阳光诚信联盟“2019企业廉洁合规峰会”9月19日在深圳成功召开。峰会以“共建廉洁共同体，打造合规生态圈”为主题，来自政府部门、知名高校、社会机构、标杆企业的十数位相关领域专家出席，就企业廉洁体系建设、刑事风险防范等议题展开探讨。</span></p>
        <p style="text-indent:32px"><span style="font-size:16px;font-family:宋体">中梁控股集团作为阳光诚信联盟常务理事单位、华东区域中心，出席本次峰会并与联盟标杆企业进行对标交流。另有150余家成员单位的300余名企业代表参会，探讨国内外合规环境及趋势，学习合规管理理念与方法。</span></p>
        <img src="~/images/210305032328757391.jpg" style="width:702px;height:395.19px" />
        <p style="text-align:center"><span style=";font-family:宋体">金蝶集团董事会主席助理、集团办公室主任王建伟</span></p>
        <p style="text-indent:32px"><span style="font-size:16px;font-family:宋体">本届峰会由阳光诚信联盟主办，金蝶集团承办。金蝶集团董事会主席助理、集团办公室主任王建伟在致词中表示，金蝶集团成立26年来，始终奉行“致良知、走正道、行良道”的企业价值观。作为阳光诚信联盟理事单位之一，金蝶致力于与联盟成员共同探讨企业廉洁合规的新思路、新措施。</span></p>
        <img src="~/images/210305032328757391.jpg" style="width:702px;height:395.19px" />
        <p style="text-align:center"><span style=";font-family:宋体">阳光诚信联盟秘书处秘书长段秋斌</span></p>
        <p style="text-indent:32px"><span style="font-size:16px;font-family:宋体">阳光诚信联盟秘书处秘书长段秋斌就联盟成立及发展情况作出介绍。他表示，在全体成员单位的共同努力下，近年来，联盟影响力得到显著提高与广泛认可。未来，联盟将收集更多需求、打通更多渠道、寻求更多合作、探寻更多方法，为企业廉洁创造更大价值，为成员单位带来更好服务。</span></p>
        <img src="~/images/210305032328757391.jpg" style="width:702px;height:395.19px" />
        <p style="text-indent:32px"><span style="font-size:16px;font-family:宋体">本届峰会分享内容分为三个单元——与会嘉宾分别就“国际和国内环境和趋势”“数据化时代企业廉洁合规管控”“廉洁合规文化建设”三项议题进行交流。</span></p>
        <p style="text-align:center"><strong><span style="font-size:16px;font-family:宋体">No.1</span></strong></p>
        <p style="text-align:center"><strong><span style="font-size:16px;font-family:宋体">第一单元</span></strong></p>
        <p style="text-indent:32px"><span style="font-size:16px;font-family:宋体">第一单元中，深圳市南山区人民检察院知识产权检察部部长杨杰作题为《民营企业刑事法律风险防范》的主题分享。他以亲身经办的实案，就职务侵占罪、职务便利、虚拟物品价值认定等重点概念进行梳理，从法律角度强调了企业反腐倡廉的必要性。</span></p>
        <img src="~/images/210305032328757391.jpg" style="width:702px;height:395.19px" />
        <p style="text-align:center"><span style=";font-family:宋体">中国人民大学刑事法律科学研究中心主任时延安</span></p>
        <p style="text-indent:32px"><span style="font-size:16px;font-family:宋体">中国人民大学刑事法律科学研究中心主任时延安作题为《刑事合规与反腐败》的主题解读。他提出，立法界定、内部治理 、刑事惩罚三环节，应从全局出发协调视之，多方共同推动制度的完善，建立成熟稳健的企业反腐模式。</span></p>
        <p style="text-indent:32px"><span style="font-size:16px;font-family:宋体">甫瀚咨询董事总经理李秀颀作题为《数字化时代风控合规职能发展观察》的主题演讲。他坦言，自己曾发出 “风控合规是否不被重视”的质疑，如今他可以确认，合规风控与企业生存发展休戚相关，正在向数字化方向大步迈进。</span></p>
        <p style="text-align:center"><strong><span style="font-size:16px;font-family:宋体">No.2</span></strong></p>
        <p style="text-align:center"><strong><span style="font-size:16px;font-family:宋体">第二单元</span></strong></p>
        <p style="text-indent:32px"><span style="font-size:16px;font-family:宋体">第二单元中，字节跳动内审风控部总监苗继元作题为《国际化过程中的廉洁合规探索》的主题分享。他指出，在海外合规领域，中国企业面临诸多监管需求，如反腐败合规，信息安全，隐私保护等。他建议中国企业尽早布局，搭建审计和监察的团队组织构架。</span></p>
        <p style="text-indent:32px"><span style="font-size:16px;font-family:宋体">小米集团内控内审监察部总经理刘少顺作题为《小米内控内审监察的融合之路》的主题解读。由当前风控环境的复杂度、小米审监部门的职能定位和联动机制、小米智能风控模型三个角度出发，刘少顺呼吁行业内部应同步成长，互学互鉴。</span></p>
        <p style="text-indent:32px"><span style="font-size:16px;font-family:宋体">凤凰网风控合规部高级总监胡昭华作题为《新媒体的监控平台建设》的主题演讲。她指出，融媒体背景下，风险变得多元化，隐蔽性日益增强。她认为审计风控人员应与时俱进，通过增强专业性，炼就发现前后端延伸问题的“火眼金睛”。</span></p>
        <p style="text-indent:32px"><span style="font-size:16px;font-family:宋体">金蝶集团首席财务专家陈琳在题为《数字化时代内控管理新思维》的主题分享中，剖析了“数字化转型过程中，内控是否还应按照传统的三道防线来做”。她认为，未来业务和财务是一体化的，风险应以“前中后台”的视角予以管控。</span></p>
        <p style="text-indent:32px"><span style="font-size:16px;font-family:宋体">孩子王监察中心总监檀正斌在《零售企业监察系统化探索》的主题发言中，详细介绍了自身企业针对反腐监察体系，职能架构划分的全景图。他讲道，运用定严格的组织纪律、健全的奖励机制、科学的研判方法，将大大提升监察效果。</span></p>
        <p style="text-align:center"><strong><span style="font-size:16px;font-family:宋体">No.3</span></strong></p>
        <p style="text-align:center"><strong><span style="font-size:16px;font-family:宋体">第三单元</span></strong></p>
        <p style="text-indent:32px"><span style="font-size:16px;font-family:宋体">第三单元，以宝洁大中华区首席合规官曾喆分享《宝洁合规体系和文化建设》开篇。她表示，作为一家运营多年的大型跨国公司，宝洁对于全球各市场，存在的法律风险深有体会。她提醒与会企业对FCPA、GDPR等条例给予重视，及时调整企业策略。</span></p>
        <p style="text-indent:32px"><span style="font-size:16px;font-family:宋体">三只松鼠代表“鼠冰冰”讲述了《松鼠廉政的品牌故事》。她介绍，“松鼠廉洁”将使命，作出了静态与动态的划分。静态使命，是希望让廉洁捍卫成为每位员工的真实价值观；动态使命，是希望通过严密的监察行动，促进个体性廉洁从业行为的落实。</span></p>
        <p style="text-indent:32px"><span style="font-size:16px;font-family:宋体">科大讯飞审计与监察部经理张胜作题为《廉洁讯飞的品牌建设》的主题发言。他指出，监审工作，从宣教预防到查处打击，都要落地到一些实体产品。对于这一链条的建设，管理层应充分调拨各种形态资源，予以全力支持。</span></p>
        <p style="text-indent:32px"><span style="font-size:16px;font-family:宋体">峰会上，阳光诚信联盟发布了《企业廉洁合规倡议书》，并宣布将每年9月19日定为联盟“廉洁合规日”。当日现场，还举行了联盟专家聘用仪式及委员会召集人授牌仪式。</span></p>
        <p style="text-indent:32px"><span style="font-size:16px;font-family:宋体">当日受聘的专家包括：盛趣游戏内审中心高级总监王辉；科大讯飞审计与监察部总经理沈德勇；小米内控内审监察部总经理刘少顺；金蝶集团董事会主席助理、集团办公室主任王建伟；凤凰网风控合规部高级总监胡昭华；孩子王监察中心总监檀正斌。</span></p>
        <p style="text-indent:32px"><span style="font-size:16px;font-family:宋体">当日授牌的行业委员会及召集人分别是：制造行业运营委员会召集人、东方希望党支部书记张轮大；游戏行业运营委员会召集人、盛趣游戏内审中心高级总监&nbsp; 王辉；互联网教育培训行业运营委员会召集人、好未来监察部总监徐思倪；互联网旅游行业运营委员会召集人、同程旅游风控审计部总监崔颖；调查专业委员会召集人、58集团合规监察部总经理王松；互联网合规专业委员会召集人、凤凰网风控合规部高级总监胡昭华。</span></p>
        <p style="text-indent:32px"><span style="font-size:16px;font-family:宋体">蒙牛集团党委副书记、纪委书记郭文举，作为新入盟会员单位代表发言。他透露，蒙牛在管理监督、执纪审查、廉政教育等方面设有严格体系和规范。加入联盟后，希望与联盟成员携手打造阳光透明的商业环境，建立更大更诚信的生态平台。</span></p>
        <img src="~/images/210305032328757391.jpg" style="width:702px;height:395.19px" />
        <p style="text-indent:32px"><span style="font-size:16px;font-family:宋体">19</span><span style="font-size:16px;font-family:宋体">日晚，峰会圆满落幕。与会人员纷纷表示，通过本届峰会获益良多。</span></p>
        <p style="text-indent:32px"><span style="font-size:16px;font-family:宋体">他们认为，随着中国经济飞速发展，企业廉洁体系建设和刑事风险防范已成为不可忽视的重要课题。以本届峰会为契机，大家有志于联合行业力量，共生共建。在日益频繁和密切的交流中，推动这项事业稳步向前。（完）</span></p>
        <p><span style="font-size:16px;font-family:宋体">附：</span></p>
        <p><span style="font-size:16px;font-family:宋体">《阳光诚信联盟廉洁合规宣言》</span></p>
        <p style="text-indent:32px"><span style="font-size:16px;font-family:宋体">2019</span><span style="font-size:16px;font-family:宋体">年9月19日，阳光诚信联盟成员单位共聚深圳，举行了阳光诚信联盟“首届企业廉洁合规峰会”。这是一个非常重要的里程碑，是一个值得纪念的重要日子。为此，阳光诚信联盟将每年9月19日定为联盟的“廉洁合规日”。</span></p>
        <p style="text-indent:32px"><span style="font-size:16px;font-family:宋体">为更好地提升联盟单位廉洁合规的能力，联盟将通过以下举措加强联盟在廉洁合规方面建设和合作：&nbsp; </span></p>
        <p style="text-indent:32px"><span style="font-size:16px;font-family:宋体">一、始终坚持以廉洁合规为主线，一直致力于打造阳光透明的商业环境。</span></p>
        <p style="text-indent:32px"><span style="font-size:16px;font-family:宋体">二、做好“联合治理”顶层设计，推进“企企联合筑底、企学合作互动、政商清亲呼应、高峰论坛引领”的“四位一体”合作架构。</span></p>
        <p style="text-indent:32px"><span style="font-size:16px;font-family:宋体">三、通过组织培训、论坛，研讨会、训练营、沙龙等经验和资讯交流，共同搭建沟通合作平台。</span></p>
        <p style="text-indent:32px"><span style="font-size:16px;font-family:宋体">四、积极探索“企业+政府合作”、“政府+行业合作”等多元反腐的创新模式，提升企业诚信经营的品牌形象。</span></p>
        <p style="text-indent:32px"><span style="font-size:16px;font-family:宋体">五、并肩凝聚各方共识，围绕政策性、前瞻性腐败治理与合规建设痛点开展调查研究，为政策建言，为企业廉洁合规体系建设和社会道德风气建设贡献更多力量，承担更大责任，创造更多价值。</span></p>
        <p style="text-align:right"><span style="font-size: 16px;font-family:宋体">阳光诚信联盟秘书处</span></p>
        <p style="text-align:right"><span style="font-size:16px;font-family:宋体">2019</span><span style="font-size:16px;font-family:宋体">年9月19日</span></p>
        <p><strong><span style="font-size:16px;font-family:宋体">加入联盟</span></strong></p>
        <p><span style="font-size:16px;font-family:宋体">阳光诚信联盟于2017年2月24日，由京东、腾讯、百度、沃尔玛中国、宝洁、美团点评、唯品会等知名企业共同发起建立，邀请中国人民大学刑事法律科学研究中心作为顾问单位，是我国互联网企业首个反腐行业自治组织。阳光诚信联盟以诚信经营为使命，以廉洁合规为主线，协力打击腐败行为和倡导公司合规。联盟先后与中国青年诚信行动办公室和中国青年报社达成战略合作，将在推动青年诚信体系建设、失信信息共享、诚信文化宣传等方面开展深度合作。目前已经发展成为超过 300 余家会员单位的行业共治组织，其中上市公司超过 50%，互联网企业超过60%，员工规模数百万。</span></p>
        <p><span style="font-size:16px;font-family:宋体">如有意加入联盟，请咨询联盟秘书处。</span></p>
        <p><span style="font-size:16px;font-family:宋体">电话：400-888-7356</span></p>
        <p><span style="font-size:16px;font-family:宋体">邮箱：Service@ygcxlm.com</span></p>
        <p><span style="font-size:16px;font-family:宋体">网站：https://www.ctiea.com</span></p>
        <p><br></p>
    </div>
    <div style="width:360px;height:900px;float:left;margin-left:40px">
        <div style="width:360px;height:349px;background-color:darkgray;float:left">
            <div style="width:358px;height:53px;background-color:#E8EAEF;padding:16px">
                <span style="width:64px;height:21px;color:#171458;font-size:16px">热门推荐</span>
            </div>
            <a style="width:258px;height:41px;position:relative;top:10px;left:20px">△一笺说丨有信用,走大道 住建部公司</a>
            <div style="border:1px dashed;margin-top:15px"></div>
        </div>
        <div style="width:360px;height:191px;background-color:coral;float:left;margin-top:20px"></div>
        <div style="width:360px;height:101px;background-color:gainsboro;float:left;margin-top:20px"></div>
        <div style="width:360px;height:101px;background-color:gold;float:left"></div>
        <div style="width:360px;height:101px;background-color:forestgreen;float:left"></div>
    </div>
</div>
