<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WSTWeb.MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <style type="text/css">

        footer {
            height: 250px;
            background: #141414;
            box-sizing: border-box;
            position: relative
        }

            footer .footer {
                padding-top: 55px;
                position: relative
            }

                footer .footer .logo {
                    width: 200px
                }

                footer .footer .footerUl {
                    position: absolute;
                    top: 40px;
                    left: 50%;
                    transform: translateX(-50%);
                    color: #fff;
                    font-size: 0
                }

                    footer .footer .footerUl li {
                        float: left;
                        margin: 0 5px;
                        font-size: 12px
                    }

                        footer .footer .footerUl li > p:first-child {
                            font-size: 14px;
                            margin-bottom: 10px;
                            cursor: pointer;
                            color: #fff
                        }

                        footer .footer .footerUl li p:first-child span {
                            margin-left: 12px
                        }

                        footer .footer .footerUl li div {
                            color: #ccc;
                            cursor: pointer
                        }

                            footer .footer .footerUl li div a {
                                text-decoration: none;
                                color: #ccc;
                                cursor: pointer
                            }

                                footer .footer .footerUl li div a:hover {
                                    color: #fff
                                }

                footer .footer .codeBox {
                    position: absolute;
                    right: 25px;
                    top: 0;
                    color: #fff;
                    font-size: 14px;
                    text-align: center
                }

                footer .footer .footerUl li p a {
                    text-decoration: none;
                    color: #fff
                }

                footer .footer .codeBox .span {
                    padding-right: 15px;
                    border-right: 1px solid #ccc
                }

                footer .footer .codeBox .wx {
                    width: 20px;
                    height: 20px;
                    vertical-align: middle;
                    margin-left: 10px
                }

            footer .code {
                width: 80px;
                height: 80px;
                margin-top: 40px
            }

                footer .code img {
                    width: 132%;
                    height: 132%;
                }

        .footer .text {
            padding-top: 10px;
            color: #ccc;
            font-size: 12px
        }

        footer .footerText {
            width: 100%;
            text-align: center;
            padding: 20px 0;
            border-top: 1px solid #000;
            color: #fff;
            position: absolute;
            bottom: 20px;
            left: 0;
            font-size: 13px;
            color: #eee
        }
    </style>
    @*返回顶部*@
    <style>
        .arrow {
            border: 9px solid transparent;
            border-bottom-color: #3DA0DB;
            width: 0px;
            height: 0px;
            top: 0px
        }

        .stick {
            width: 8px;
            height: 14px;
            border-radius: 1px;
            background-color: #3DA0DB;
            top: 15px;
        }

        #back_top div {
            position: absolute;
            margin: auto;
            right: 0px;
            left: 0px;
        }

        #back_top {
            background-color: #dddddd;
            height: 38px;
            width: 38px;
            border-radius: 3px;
            display: block;
            cursor: pointer;
            position: fixed;
            right: 50px;
            bottom: 100px;
            display: none;
        }
    </style>

</head>
<body>
    <!--头部-->
    <header>
        <div class="header" style="margin-top:20px;">
            <div class="header_left">

                <img style="position:relative;left:300px" src="~/images/Logo白.png" />

            </div>
        </div>
        <hr style="position:relative;top:-16px" />
        <div style="border-bottom:1px solid;height:37px;border-color:gainsboro">
            <ul style="font-size:20px;color:black;">
                <li style="float:left;list-style-type:none;position:relative;left:600px;font-size:20px;">
                    <div id="">
                        <strong> <a href="" style="color:black">首页</a></strong>
                    </div>
                </li>
                <li style="float:left;list-style-type:none;position:relative;left:650px">
                    <div id="">
                        <strong> <a href="" style="color:black">关于我们</a></strong>
                    </div>
                </li>
                <li style="float:left;list-style-type:none;position:relative;left:700px">
                    <div id="">
                        <strong> <a href="" style="color:black">要闻资讯</a></strong>
                    </div>
                </li>
                <li style="float:left;list-style-type:none;position:relative;left:750px">
                    <div id="">
                        <strong> <a href="" style="color:black">行业/服务</a></strong>
                    </div>
                </li>
                <li style="float:left;list-style-type:none;position:relative;left:800px">
                    <div>
                        <strong> <a href="" style="color:black">研究洞察</a></strong>
                    </div>
                </li>
            </ul>
        </div>
        @*返回顶部*@
        <div id="back_top">
            <div class="arrow"></div>
            <div class="stick"></div>
        </div>
    </header>
    @RenderBody()
    <div style="width:1018px;height:200px; margin:0 auto;margin-top:20px;margin-left:240px">
        <div style="height:59px;">
            <h2 style="color:#808080">RELATED LINKS</h2>
            <h2 style="background-color:yellow; width:140px;margin-top:10px;">相关链接</h2>
        </div>
        <div style="margin-top:50px;">
            <ul style="font-size:17px;list-style-type:none">
                <li style="float:left;margin-right:20px;padding-right:20px; border-right:2px solid #000000;"><b><a style="color:black" href="http://www.audit.gov.cn/index.html" target="_blank">中华人民共和国审计署</a></b></li>
                <li style="float:left;margin-right:20px;padding-right:20px; border-right:2px solid #000000;"><b><a style="color:black" href="http://www.ciia.com.cn/index.html" target="_blank">中国内部审计协会</a></b></li>
                <li style="float:left;margin-right:20px;padding-right:20px; border-right:2px solid #000000;"><b><a style="color:black" href="http://www.fanwubi.org/Index.html" target="_blank">企业反舞弊联盟</a></b></li>
                <li style="float:left;margin-right:20px;padding-right:20px;"><b><a style="color:black" href="https://www.ctiea.com/loginPage?ReturnUrl=http%3A%2F%2Fwww.ctiea.com%2Findex%2F" target="_blank">阳光诚信联盟</a></b></li>
            </ul>
        </div>
    </div>
    <!--底部-->
    <footer>
        <div class="boxCenter footer" style="width:75%;margin:0px auto;padding-top:40px;">
            <img src="~/images/Logo黑.png" />
            <ul class="footerUl" style="list-style-type:none">
                <li>
                    <p>
                        <a href="">首页 &nbsp;&nbsp;&nbsp;|</a>
                    </p>
                </li>
                <li>
                    <p>
                        <a href="">关于我们 &nbsp;&nbsp;&nbsp;|</a>
                    </p>
                    <div>
                        <a href="">
                            <p style="margin-top:-40px;">行为准则</p>
                        </a>
                        <a href="">
                            <p style="margin-top:-31px;">招聘信息</p>
                        </a>
                    </div>
                </li>
                <li>
                    <p>
                        <a href="/news">要闻资讯&nbsp;&nbsp;&nbsp; |</a>
                    </p>
                </li>
                <li>
                    <p>
                        <a href="">行业/服务 &nbsp;&nbsp;&nbsp;|</a>
                    </p>
                    <div>
                        <a href="">
                            <p style="margin-top:-40px;">行业类型</p>
                        </a>
                        <a href="">
                            <p style="margin-top:-31px;">服务类型</p>
                        </a>
                    </div>
                </li>
                <li>
                    <p>
                        <a href="/research">研究洞察</a>
                    </p>
                </li>
            </ul>
            <div class="codeBox">
                <div style="float: right;margin-left: 10px;">
                    <div class="code">
                        <img src="~/images/二维码1.png" />
                        <p class="text" style="width: 135%; margin-top: -30px;padding-top: 30px; ">廉洁中梁举报微信号</p>
                    </div>
                </div>
                <div style="float: right;">
                    <div class="code">
                        <img src="~/images/二维码2.png" />
                    </div>
                    <p class="text" style="padding-top: 30px;position:relative;top:-5px">廉洁中梁微信公众号</p>
                </div>
            </div>
        </div>
        <p class="footerText">
            版权所有 © 维生特企业管理服务（上海）有限责任公司&nbsp;&nbsp;&nbsp;&nbsp;<br /><a href="http://www.beian.miit.gov.cn" style="color: #fff;text-decoration:none;" target="_Blank">沪ICP备18023956号-1</a><br />
            <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010702004283" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;color: #eee;" target="_blank"><img style="width:16px;height:16px;margin:0px 2px -3px 6px;" src="~/images/警徽.png">沪公网安备  31010702004283号</a>
        </p>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script src="~/js/jquery-3.3.1.js"></script>
<script>
    $(function () {

        $(window).scroll(function () {  //只要窗口滚动,就触发下面代码

            var scrollt = document.documentElement.scrollTop + document.body.scrollTop; //获取滚动后的高度

            if (scrollt > 1) {  //判断滚动后高度超过200px,就显示

                $("#back_top").fadeIn(400); //淡入

            } else {

                $("#back_top").stop().fadeOut(400); //如果返回或者没有超过,就淡出.必须加上stop()停止之前动画,否则会出现闪动

            }

        });

        $("#back_top").click(function () { //当点击标签的时候,使用animate在200毫秒的时间内,滚到顶部

            $("html,body").animate({ scrollTop: "0px" }, 200);

        });

    });
</script>