
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>维生特(上海)有限公司</title>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">维生特-上海</div>
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="">首页</a></li>
                <li class="layui-nav-item"><a href="">黑名单</a></li>
                <li class="layui-nav-item"><a href="">举报投诉</a></li>
                <li class="layui-nav-item"><a href="">招聘管理</a></li>
                <li class="layui-nav-item"><a href="">问卷管理</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">内容管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">栏目管理</a></dd>
                        <dd><a href="">栏目公告</a></dd>
                        <dd><a href="">栏目滚动图片</a></dd>
                        <dd><a href="">文章管理</a></dd>
                        <dd><a href="">文章审核</a></dd>
                        <dd><a href="">视频审核</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">其他管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">相关链接</a></dd>
                        <dd><a href="">访问统计量</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">系统管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">用户管理</a></dd>
                        <dd><a href="">角色管理</a></dd>
                        <dd><a href="">菜单管理</a></dd>
                        <dd><a href="">日志管理</a></dd>
                    </dl>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right">
               <li class="layui-nav-item">
                    <a href="javascript:;">
                        
                        <span id="name"></span>
                    </a>
                </li>
                <li class="layui-nav-item"><a href="@Url.Action("Login","User")">退出</a></li>
        </div>

        @*主内容区*@
        <div class="layui-body">
            <div>

                <div style="padding: 15px;">
                    <div style="width:800px;height:200px;float:left;margin:20px 20px;background-color:azure;">
                        <br />
                        <h4>个人信息</h4>
                        <table class="layui-table layui-form" lay-skin="nob">

                            <tr>
                                <td>主题设置</td>
                                <td>
                                    <select id="user_Color" name="user_Color">
                                        <option value="default">default</option>
                                        <option value="red">red</option>
                                        <option value="blue">blue</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>登录名</td>
                                <td><input type="text" id="user_Name" name="User_Name" style="border:none" readonly /></td>
                            </tr>
                            <tr>
                                <td>昵称</td>
                                <td><input type="text" name="user_Nickname" id="user_Nickname" /></td>
                            </tr>
                            <tr>
                                <td>原始密码</td>
                                <td>
                                    <input type="password" name="pass" id="pass" />
                                </td>
                            </tr>
                            <tr>
                                <td>新密码</td>
                                <td><input type="password" name="user_Password" id="user_Password" /></td>
                            </tr>
                            <tr>
                                <td>重复密码</td>
                                <td><input type="password" name="isPass" id="isPass" /></td>
                            </tr>
                            <tr>
                                <td>email</td>
                                <td><input type="text" name="user_Email" id="user_Email" /></td>
                            </tr>
                            <tr>
                                <td>手机号</td>
                                <td><input type="text" name="user_Phone" id="user_Phone" /></td>
                            </tr>
                            <tr>
                                <td>备注</td>
                                <td><input type="text" name="user_Remark" id="user_Remark" /></td>
                            </tr>
                            <tr>
                                <td>
                                    <button class="layui-btn" id="save" lay-submit lay-filter="*">立即提交</button>
                                </td>
                                <td>
                                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="~/layui/layui.js"></script>
    <script src="~/js/jquery-3.3.1.js"></script>
    <script src="~/js/setCookie.js"></script>
    <script>
        //JavaScript代码区域
        layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element', 'slider'], function () {
            var laydate = layui.laydate //日期
                , laypage = layui.laypage //分页
                , layer = layui.layer //弹层
                , table = layui.table //表格
                , carousel = layui.carousel //轮播
                , upload = layui.upload //上传。
                , element = layui.element //元素操作
                , slider = layui.slider //滑块

            //加载用户
            var userNickname = getCookie("userNickname").toString();
            $("#name").text(userNickname + "您好");
            //反填
            var userId = getCookie("userId").toString();
            var userName = getCookie("userName").toString();
            var userNickname = getCookie("userNickname").toString();
            var userEmail = getCookie("userEmail").toString();
            var userPhone = getCookie("userPhone").toString();
            var userRemarks = getCookie("userRemark").toString();
            var userPassword = getCookie("userPassword").toString();
            $("#user_Name").val(userName);
            $("#user_Nickname").val(userNickname);
            $("#user_Email").val(userEmail);
            $("#user_Phone").val(userPhone);
            $("#user_Remark").val(userRemarks);
            //点击提交触发事件
            $("#save").click(function () {

                if ($("#pass").val() != userPassword) {
                    alert('原始密码错误');
                } else if ($("#isPass").val() != $("#user_Password").val()) {
                    alert('两次密码不一致');
                }
                else {
                    $.ajax({
                        url: 'http://localhost:53305/api/User',
                        type: 'put',
                        data: JSON.stringify({
                            user_Id: userId,
                            user_Color: $("#user_Color").val(),
                            user_Name: $("#user_Name").val(),
                            user_Nickname: $("#user_Nickname").val(),
                            user_Email: $("#user_Email").val(),
                            user_Phone: $("#user_Phone").val(),
                            user_Remark: $("#user_Remark").val(),
                            user_Password: $("#user_Password").val(),
                        }),
                        success: function (result) {
                            if (result > 0) {
                                alert('修改成功,请重新登录！');
                                location.href = '@Url.Action("Login","User")';
                            }
                            else {
                                alert('修改失败！');
                            }
                        }
                    });
                    @*$.ajax({
                        url: 'http://localhost:53305/api/User',
                        type: 'put',
                        data: JSON.stringify({
                            user_Id: userId,
                            user_Color: $("#user_Color").val(),
                            user_Name: $("#user_Name").val(),
                            user_Nickname: $("#user_Nickname").val(),
                            user_Email: $("#user_Email").val(),
                            user_Phone: $("#user_Phone").val(),
                            user_Remark: $("#user_Remark").val(),
                            user_Password: $("#user_Password").val(),
                        }),
                        success: function (result) {
                            if (result > 0) {
                                alert('修改成功,请重新登录！');
                                location.href = '@Url.Action("Login","User")';
                            }
                            else {
                                alert('修改失败！');
                            }
                        },
                        contentType: 'application/json',
                        dataType: 'json',
                        //xhrFields: {
                        //    withCredentials: true
                        //},
                        //crossDomain: true,
                    });*@
                }


            });
        });
    </script>
</body>
</html>
